.tooltip {	
    position: absolute;			
    text-align: justify;			
    /* width: 300px;					
    height: 300px;					 */
    padding: 10px;		
    /* margin-bottom:4px;		 */
    font: 12px sans-serif;		
    /* background: lightsteelblue;	 */
    background: rgb(190, 238, 189);	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.tooltip b {
    padding:4px;
}

#citiesmap {
    /* width: 500; */
    /* height: 500; */
    margin-right: 100px;
}

.code_post {
    cursor: pointer;
    /* stroke: black; */
    stroke-width: .5px;
}

.selected {
    opacity: 1;
    stroke: black;
    stroke-width: 1px;
    color:rgb(4, 104, 4);
  }

/* .containerMaps.graphs .containerHistoScatter.graphs{ */
.graphs{
    width:620px;
    height: 500
    /* height: 60%; */
    /* display:inline-block; */
    /* display:inline-flex; */
    /* margin-left:20px; */
  }



.containerMaps {
    display:inline-flex;
  }

  .containerHistoScatter{
    display:inline-flex;
  }

h2{
    margin-left:120px;
}
 
p {
    font-size: 0.9em;
 }

form{
    margin-left:60px;
}
.labels {
    display:-webkit-inline-flex;
}